private static long SEED = 7;
    private static Random RAND_KERNEL = new Random(SEED);
    
    private static int DEFAULT_TOTAL_COURSE_BY_SEMESTER = 6;
    private static int DEFAULT_TOTAL_KNOWLEDGE = 20;
    private static int MAX_COURSES_BY_SEMESTER =3;
    
    private final static int ECTS_OFFSET = 1;//between 1 and inf - used to increase MIN_ECTS_REQUIRED
    
    
    public static int MIN_NB_K_PER_COURSE = 1;
    public static int MIN_VAL_K_PER_COURSE = 10;
    public static int MIN_NB_K_AS_PREREQUISITE = 0;
    public static int MIN_VAL_K_AS_PREREQUISITE = CSDVPConfiguration.NON_EVAL;
    public static int MIN_NB_SEMESTER_AVAILABLE = 1;
    public static int MIN_NB_ECTS = CSDVPConfiguration.MIN_ECTS_VALUE;
    public static int MIN_NB_OBJECTIVE = 2;
    
    public static int MAX_NB_K_PER_COURSE = 4;
    public static int MAX_VAL_K_PER_COURSE = 90;
    public static int MAX_NB_K_AS_PREREQUISITE = 4;
    public static int MAX_VAL_K_AS_PREREQUISITE = CSDVPConfiguration.MASTERED;
    public static int MAX_NB_SEMESTER_AVAILABLE = 4;
    public static int MAX_NB_ECTS = CSDVPConfiguration.MAX_ECTS_VALUE;
    
    public static int[] SEMESTER_RANGE = {0,1,2,3,4,5};
